.hour {
  background-color: #eee;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #444;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hour.selected {
  background-color: #5CB85C;
}

.hour.scheduled {
  background-color: #BF5FFF;
}
